packages/
SocialTalents.Hp.MongoDb/obj/
SocialTalents.Hp.Events/obj/
SocialTalents.Hp.UnitTests/obj/
SocialTalents.Hp.MongoDb/bin/
SocialTalents.Hp.Events/bin/
SocialTalents.Hp.UnitTests/bin/
Samples.Console/bin/
Samples.Console/obj/
